*~
*.elc
auto-save-list
ac-comphist.dat
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ido.last
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
/prelude-modules.el
projectile-bookmarks.eld
session*
.cask
tramp
.update.time
/var/pcache
